p.title-slide-pre {
  font-size: 4rem;
}
p.title-slide-title {
  font-size: 6rem;
  font-weight: bold;
}

div.indented2 {
  margin-left: 2em;
  margin-right: 2em;
}

div.indented4 {
  margin-left: 4em;
}

div.indented4r {
  margin-right: 4em;
}

h2 {
  margin-bottom:3rem !important;
  font-size: 2.2em !important;
}

section#building-dsts-with-shiny {
  text-align:center;
}

section#ucanr > h2 {
  display: none !important;
}

div#applist {
  font-size:95%;
  margin-left:1em;
}

div#applist > p {
  margin-bottom:0.5em;
}

section.double-spaced-centered > p {
  font-size:150%;
  text-align: center;
  margin-bottom: 3rem;
}
section.double-spaced-left > p {
  font-size:150%;
  margin-left:1em;
  margin-bottom: 3rem;
}
section#publishing-shiny-apps > p {
  font-size:130%;
  margin-left:1em;
  margin-bottom: 3rem;
}

img.appscreenshot {
  position: fixed;
  top: 0;
  border:3px solid gray;
}
object.centered {
  display: block;
  margin: 0 auto;
}
div.functions {
  margin-left:1em !important;
  font-family: monospace;
}
div.fakecode {
  font-family: monospace;
  white-space: pre !important;
}

